@import url(../variables/colors.css);

/* ABOUT SECTION */

.about__content {
    width: 1276px;
    height: 528px;

    display: flex;
    overflow: hidden;

    background-color: var(--white);
    border-radius: 20px;
}

.about__left-content {
    width: 50%;
    padding: 0px 60px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about__text-holder {
    width: 426px;
    padding: 60px 0px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    text-align: left;
}

.about__text-holder > .header-2,
.about__text-holder > .paragraph {
    text-align: left;
}

.about__img {
    border-radius: 20px;
}
