@import url(../variables/colors.css);

/* ABOUT SECTION */

.about__content {
    display: flex;
    width: 1276px;
    height: 528px;
    border-radius: 20px;
    background-color: var(--white);
    overflow: hidden;
}

.about__left-content {display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding: 0px 60px;
}

.about__text-holder {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 426px;
    padding: 60px 0px;
    text-align: left;
}

.about__text-holder > .header-2,
.about__text-holder > .paragraph {
    text-align: left;
}

.about__img {
    border-radius: 20px;
}
