@import url(../variables/colors.css);

/* BEST GIFTS SECTION */

.best-gifts__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1275px;
    width: 90%;
}

.best-gifts__text-holder {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.best-gifts__cards-holder {
    display: flex;
    justify-content: center;
    gap: 12px;
}

@media screen and (max-width: 1350px) {
    .best-gifts__cards-holder {
        flex-wrap: wrap;
        max-width: 700px;
        width: 700px;
    }
}
