/* CTA SECTION */

.cta {
    border-radius: 0px 0px 20px 20px;
    background-image: url(../../images/cta__css-bkg.png), url(../../images/section__css-bkg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cta__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 426px;
    /*height: 428px;*/
    padding: 120px 0px;
}

@media screen and (max-width: 400px) {
    .cta__content{
        width: 360px;
    }
}

.cta__counter-holder {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta__counter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 344px;
    height: 72px;
    border-radius: 20px;
    background-color: var(--white40);
    padding: 8px 12px 12px 12px;
}

.cta__counter-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 36px;
}

.cta__counter-divider {
    align-self: center;
    height: 20px;
    width: 1px;
    background-color: var(--white40);
}