@import url(../variables/colors.css);

/* General Styles */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
section,
footer {
    max-width: 1440px;
    width: 1440px;

    padding: 60px 8px;
}

header,
footer,
body {
    background-color: var(--white);
}

section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--primary);
    background-image: url(../images/section__css-bkg.png);
    background-size: cover;
}