@import url(../variables/colors.css);

/* General Styles */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

html {
    scroll-behavior: smooth;
}

body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow-x: hidden;*/ /* worked but its cheting*/
}

body,
main {
    width: 100%;
}
/* header section footer overflow body & main in chrome (FF - ok)*/
header,
section,
footer {
    max-width: 1440px;
    min-width: 380px;
    /*max-width: 100%;*/ /* didnt work*/
    width: 100%;
    /*overflow-x: hidden;*/ /* didnt work => it's not section content that overflows but section itself*/
}

@media screen and (max-width: 400px) {
    header,
    section,
    footer {
        max-width: 100%;
        width: 100%;
    }
}


header,
footer,
body {
    background-color: var(--white);
}

section,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

section {
    background-color: var(--primary);
    background-image: url(../../images/section__css-bkg.png);
    background-size: cover;
}