.body--no-scroll {
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.burger__btn {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger__line {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 1px;
    background-color: var(--dark);
    transition: all 0.4s ease-in-out;
}

.burger__line:first-of-type {
    top: 16px;
}

.burger__line:last-of-type {
    top: 24px;
}

.burger__btn--close .burger__line:first-of-type {
    transform-origin: center;
    transform: rotate(-45deg);
}

.burger__btn--close .burger__line:last-of-type {
    top: 16px;
    transform-origin: center;
    transform: rotate(45deg);
}

.burger__navbar {
    display: flex;
    position: fixed;
    top: 64px;
    left: 100vw;
    bottom: 0px;
    right: -100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transition: all 0.4s ease-in-out;
    z-index: 100;
}

.burger__navbar--opened {
    top: 64px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    
}

.burger__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.burger__link {
    display: block;
    padding: 12px 20px;
}

.burger__link--disabled {
    pointer-events: none;
}

@media screen and (min-width: 769px) {
    .burger {
        display: none;
    }
}