/* CTA BUTTON  STYLES */

.cta-btn {
    width: 235px;
    height: 56px;
    border-radius: 20px;
    border-width: 0px;
    cursor: pointer;
    background-color: var(--dark);
}

.cta-btn__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Behaviour on hover*/

@media (hover: hover) {
    .cta-btn {
        transition: background-color 0.5s ease-in-out;
    }

    .cta-btn .action-small {
        transition: color 0.5s ease-in-out;
    }

    .cta-btn:hover {
        background-color: var(--white);
    }

    .cta-btn:hover .action-small {
        color: var(--dark);
    }
}