@import url(../variables/colors.css);

/*HEADER*/

header {
    padding: 0px 8px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1080px;
    width: 1080px;
    padding: 12px 0px;
}

.logo__link {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    padding: 8px 20px;
}

.logo__icon {
    width: 24px;
    height: 24px
}

.navbar,
.navbar__list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar__link {
    display: block;
    border-radius: 12px;
    padding: 12px 20px;
}

/* Behaviour on hover */

.navbar__link{
    transition: background-color 0.4s ease-in-out;
}

.navbar__link > .action-small {
    transition: color 0.4s ease-in-out;
}

.navbar__link:hover {
    background-color: var(--primary10);
}

.navbar__link:hover > .action-small {
    color: var(--primary);
}