/* Navbar */

.navbar,
.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navbar__link {
    display: block;
    border-radius: 12px;
    padding: 12px 20px;
}

.navbar__link--disabled {
    pointer-events: none;
}

/* Behaviour on hover */

@media (hover: hover) {
    .navbar__link {
        transition: background-color 0.4s ease-in-out;
    }

    .navbar__link .action-small {
        transition: color 0.4s ease-in-out;
    }

    .navbar__link:hover {
        background-color: var(--primary10);
    }

    .navbar__link:hover .action-small {
        color: var(--primary);
    }
}

/* Burger look*/

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
}