/* Text Blocks */
.caption {
    text-align: center;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--white);
    font-family: 'Allura', cursive;
    font-weight: 400;
    font-size: 24px;
}

.caption--red {
    color: var(--primary);
}

.caption--dark {
    color: var(--dark);
}

.header-1,
.header-2,
.header-3,
.header-4,
.action-small,
.action-large,
.slider-text {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header-1 {
    width: 426px;
    line-height: 150%;
    letter-spacing: 0.18em;
    color: var(--white);
    font-size: 32px;
}

.header-1__text {
    display: block;
    word-break: keep-all;
}

@media screen and (max-width: 480px) {
    .header-1 {
        width: 364px;
    }
}

.header-2 {
    line-height: 152%;
    letter-spacing: 0.16em;
    color: var(--white);
    font-size: 24px;
}

.header-2--dark {
    color: var(--dark);
}

.header-3 {
    line-height: 152%;
    letter-spacing: 0.08em;
    color: var(--dark);
    font-size: 16px;
}

.header-4 {
    text-align: left;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: var(--white);
    font-size: 12px;
}

.header-4--work {
    color: var(--work-tag);
}

.header-4--health {
    color: var(--health-tag);
}

.header-4--harmony {
    color: var(--harmony-tag);
}

.action-small {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-align: center;

    padding: 0px;
    margin: 0px;

    text-wrap: nowrap;

    color: var(--dark);
}

.action-small--white {
    color: var(--white);
}

.action-large {
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;

    color: var(--dark);
}

.slider-text {
    font-size: 80px;
    line-height: normal;
    letter-spacing: 0em;

    color: var(--white)
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 0em;

    color: var(--dark);
}