@import url(colors.css);

/* CARD STYLES */
.card {
    width: 310px;
    height: 342px;

    background-color: var(--white);
    border-radius: 20px;
}

.card__content {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__content > .header-3 {
    text-align: left;
}