@import url(colors.css);

/* FOOTER */

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.footer__contacts-holder {
    display: flex;
    gap: 12px;

    width: 1276px;

}

.footer__contacts-item {
    height: 204px;

    flex-grow: 1;

    border-radius: 20px;
    background-color: var(--content-bg);
}

.footer__contacts-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__social-item {
    padding: 8px;
}

/* Hover */
.footer__contacts-link > .footer__contact  > .action-large,
.footer__contacts-link > .header-3 {
    transition: color 0.5s ease-in-out;
}

.footer__contacts-link:hover > .footer__contact  > .action-large,
.footer__contacts-link:hover > .header-3 {
    color: var(--primary);
}