@import url(colors.css);

/*HEADER*/

header {
    padding: 0px 8px;
}

.header__content {
    max-width: 1080px;
    width: 1080px;

    display: flex;
    justify-content: space-between;

    margin: auto;
    padding: 12px 0px;
}

.logo__link {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 20px;

    border-radius: 12px;
}

.logo__icon {
    width: 24px;
    height: 24px
}

.navbar,
.navbar__list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar__link {
    display: block;

    padding: 12px 20px;
    border-radius: 12px;
}

/* Behaviour on hover */

.navbar__link:hover {
    background-color: var(--primary10);
}

.navbar__link:hover > .action-small {
    color: var(--primary);
}